apiVersion: apps/v1
kind: Deployment
metadata:
  name: app1-v1
spec:
  selector:
    matchLabels:
      app: app1-v1
  replicas: {{ num_replicas }}
  template:
    metadata:
      labels:
        app: app1-v1
        version: {{ version }}
      annotations:
        prometheus.io/scrape: "{{ prometheus_scrape }}"
        prometheus.io/port: "{{ prometheus_port }}"
    spec:
      containers:
      - name: app1-v1
        image: nginx/nginx-prometheus-exporter:{{ version }}
        env: 
        - name: VERSION
          value: {{ version }}
        ports:
        - containerPort: {{ nginx_port }}
        - containerPort: {{ prometheus_port }}